.dock {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.dock div {
  padding: 0.5em 2em;
}

.dock_logo {
  width: 30px;
  color: #ccc;
  cursor: pointer;
}

.dock div:hover {
  background-color: #666;
}
