.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 100;
}

.header h1 {
  color: #bc8b2f;
  font-size: 1.5em;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 5vh;
  margin-top: 10vh;
}

.footer p {
  transform: translateY(-10vh);
}
