html,
body {
  padding: 0;
  margin: 0;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  scroll-behavior: smooth;
}

h2 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
