.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  scroll-snap-align: start;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
}

.container:nth-of-type(2) {
  background-image: url(../public/home1.png);
  background-size: cover;
  background-position: center;
}

.slide_container {
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1600px;
  width: 100%;
  background-color: #fff;
  color: black;
  padding: 2em;
  min-height: 100vh;
}

.event_container {
  min-height: 50vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
  max-width: 1600px;
  width: 100%;
}

.event_container ul {
  background-color: rgb(255, 255, 255);
  padding: 1em;
  margin: 1em;
}

.event_container li {
  font-size: 1.5em;
  list-style: none;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 0.5em;
}
.event_container li:nth-last-of-type(1) {
  border-bottom: 1px solid #ccc;
}

.event_container li img {
  width: 5px;
}

.section {
  margin: 1em;
  z-index: 30;
  border: 3px solid #bc8b30;

  padding: 1em;
}

.logo {
  width: 200px;
  position: absolute;
}

.heading_img {
  position: absolute;
  top: 0;
  filter: brightness(30%) blur(3px);

  overflow: hidden;
}
.home_img {
  width: 50vw;
}

.back {
  top: 0;
  right: 0;
  left: 0;
  z-index: -100;
  height: 100vh;
}

.blogContainer {
  display: flex;
  flex-direction: column;
}

.event {
  padding: 5em;
}

.container:nth-of-type(5) {
  background-image: url(../public/home4.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.fee_flex {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.fee {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 120px 130px 130px;
}

.fee p {
  /* border: 1px solid #ccc; */
  text-align: center;
  font-size: 1.5em;
  margin: 1rem;
}

.fee p:nth-of-type(1) {
  grid-row: 1/2;
  grid-column: 1/2;
}
.fee p:nth-of-type(2) {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 1em;
  /* background-color: rgb(239, 187, 0); */
}
.fee p:nth-of-type(3) {
  grid-row: 1/2;
  grid-column: 3/4;
  font-size: 1em;
}
.fee p:nth-of-type(4) {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgb(22, 87, 178);
}
.fee p:nth-of-type(5) {
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: rgb(239, 66, 242);
}
.fee p:nth-of-type(6) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.fee p:nth-of-type(7) {
  grid-row: 2/3;
  grid-column: 3/4;
}
.fee p:nth-of-type(8) {
  grid-row: 3/4;
  grid-column: 2/3;
}
.fee p:nth-of-type(6) {
  grid-row: 3/4;
  grid-column: 3/4;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;

  scroll-snap-align: start;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
}

.infoList {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-around;
}
.infoItem {
  padding: 1em;
  display: flex;
  border: 5px solid #fff;

  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  transition: background-color 0.2s;
}

.infoItem img {
  width: 50px;
  height: 50px;
  margin-right: 2em;
}

.infoItem:hover {
  background-color: #bc8b30;
}

.snsLink {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1em 0;
}

.snsItem img {
  width: 10vw;
}
